#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.container {
	width: 400px;
	margin: 100px auto;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabs {
	display: flex;
}

.tab-btn {
	flex: 1;
	padding: 10px;
	text-align: center;
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.tab-btn.active {
	background-color: #0056b3;
}

.tab-content {
	padding: 20px;
	display: none;
}

.tab-content.show {
	display: block;
}

form {
	margin-top: 20px;
}

input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button {
	width: 100%;
	padding: 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #0056b3;
}
